<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <title>{{page_title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Oxygen:wght@300;400;700&display=swap"
          rel="stylesheet">
    <link rel="icon" href="/media/logo.png" type="image/x-icon">
    <noscript> Some elements may not display correctly as a problem with javascript was detected in your browser. </noscript>

<header>
    <div class="header-box">
        <a href='index.html'>{{page_title}}</a>
    </div>


</header>
